.git
.github
.gitignore
.gitattributes
.editorconfig
.env
.env.local
.env.testing
.idea
.vscode
.fleet
.phpunit.cache
.phpstan.cache
node_modules
vendor
public/build
public/hot
public/storage
storage/app/livewire-tmp
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
docs
*.md
docker-compose.override.yml
